<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Card UI Design</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <style>
        .locker-card{
            position:relative;
            width:50%;
            padding-right:5px;
            padding-left:5px;
        }
        
    </style>
</head>
<body>
    <section class="main-content">
        <div class="container">
            <h4>SML SURPLUS STORAGE SYSTEM</h4>
            <br>
            <div class="row">
                <div class="locker-card col-sm-6 col-md-6 col-lg-4">
                    <div class="card bg-white p-3 mb-4 shadow d-flex">
                        <div class="justify-content-between mb-4">
                            <div class="user-info">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Locker A</h5>
                                    <p class="text-muted mb-0">Type CSL-11</p>
                                </div>
                            </div>
                        </div>
                        <h6 class="mb-0">Storage Usage</h6>
                        <p class="text-muted mb-0">50% (30/60)</p>
                        <div class="d-flex justify-content-between mt-4">
                            <div>
                            </div>
                            <span class="text-success font-weight-bold">Available</span>
                        </div>
                    </div>
                </div>
                <div class="locker-card col-sm-6 col-md-6 col-lg-4">
                    <div class="card bg-white p-3 mb-4 shadow d-flex">
                        <div class="justify-content-between mb-4">
                            <div class="user-info">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Locker B</h5>
                                    <p class="text-muted mb-0">Type D10</p>
                                </div>
                            </div>
                        </div>
                        <h6 class="mb-0">Storage Usage</h6>
                        <p class="text-muted mb-0">100% (60/60)</p>
                        <div class="d-flex justify-content-between mt-4">
                            <div>
                            </div>
                            <span class="text-danger font-weight-bold">Full</span>
                        </div>
                    </div>
                </div>
                <div class="locker-card col-sm-6 col-md-6 col-lg-4">
                    <div class="card bg-white p-3 mb-4 shadow d-flex">
                        <div class="justify-content-between mb-4">
                            <div class="user-info">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Locker C</h5>
                                    <p class="text-muted mb-0">Type M10</p>
                                </div>
                            </div>
                        </div>
                        <h6 class="mb-0">Storage Usage</h6>
                        <p class="text-muted mb-0">80% (50/60)</p>
                        <div class="d-flex justify-content-between mt-4">
                            <div>
                            </div>
                            <span class="text-warning font-weight-bold">Partial Full</span>
                        </div>
                    </div>
                </div>
                <div class="locker-card col-sm-6 col-md-6 col-lg-4">
                    <div class="card bg-white p-3 mb-4 shadow d-flex">
                        <div class="justify-content-between mb-4">
                            <div class="user-info">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Locker D</h5>
                                    <p class="text-muted mb-0">Type CSL-11</p>
                                </div>
                            </div>
                        </div>
                        <h6 class="mb-0">Storage Usage</h6>
                        <p class="text-muted mb-0">50% (30/60)</p>
                        <div class="d-flex justify-content-between mt-4">
                            <div>
                            </div>
                            <span class="text-success font-weight-bold">Available</span>
                        </div>
                    </div>
                </div>
                <div class="locker-card col-sm-6 col-md-6 col-lg-4">
                    <div class="card bg-white p-3 mb-4 shadow d-flex">
                        <div class="justify-content-between mb-4">
                            <div class="user-info">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Locker E</h5>
                                    <p class="text-muted mb-0">Type CSL-11</p>
                                </div>
                            </div>
                        </div>
                        <h6 class="mb-0">Storage Usage</h6>
                        <p class="text-muted mb-0">50% (30/60)</p>
                        <div class="d-flex justify-content-between mt-4">
                            <div>
                            </div>
                            <span class="text-success font-weight-bold">Available</span>
                        </div>
                    </div>
                </div>
                <div class="locker-card col-sm-6 col-md-6 col-lg-4">
                    <div class="card bg-white p-3 mb-4 shadow d-flex">
                        <div class="justify-content-between mb-4">
                            <div class="user-info">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Locker F</h5>
                                    <p class="text-muted mb-0">Type CSL-11</p>
                                </div>
                            </div>
                        </div>
                        <h6 class="mb-0">Storage Usage</h6>
                        <p class="text-muted mb-0">50% (30/60)</p>
                        <div class="d-flex justify-content-between mt-4">
                            <div>
                            </div>
                            <span class="text-success font-weight-bold">Available</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    
</body>
</html>